In [1]:
import pandas as pd

Here is a list of questions I'd like to solve during this project.


1. Is there a trend behind the courses with little to no ratings?

2. What department seems to use uwflow the most?

3. Does the usaage of uwflow become less as you look into higher year courses? i.e 100 vs 200 and so on

4. Are users more likely to use uwflow to rate a professor/course they found liked/useful or is it the opposite?

5. What department thinks they have the most useful/hardest/liked courses based on the data?

6. Is there a correlation between the sentiment of courses and professors within the same faculty?

First things first, we'll have to clean up the data and transform it so it's usable. Most of the questions I want to answer are faculty based, so we'll focus on arranging the data in such a manner

In [3]:
course_df = pd.read_csv("./Course_data.csv")
prof_df = pd.read_csv("./Prof_data.csv")

(8915, 8)

In [7]:
prof_df.head()

,Professor_Name,Course,Liked_%,Professor_Reviews
0,Lori Michelle Case,CS 115,77%,"['clear prof', 'Lori is an awesome professor. ..."
1,Naomi Nishimura,CS 115,70%,"['Not really engaging but helpful.', 'Definite..."
2,Victoria Sakhnini,CS 115,85%,['Great prof. Explains concepts very well and ...
3,Troy Vasiga,CS 115,97%,['Elite prof. Makes each and every lecture eng...
4,Sandy Graham,CS 115,74%,"['Clear in her explanations.', ""Her clicker so..."

In [8]:
course_df.head()

,Course_Code,Course_Name,Number_of_Ratings,Number_of_Comments,Useful,Easy,Liked,Course_Reviews
0,CS 115,Introduction to Computer Science 1,2204,113 comments,22%,11%,25%,"[""Cute course, would recommend. Online modules..."
1,MATH 135,Algebra for Honours Mathematics,1551,337 comments,84%,43%,78%,['No reviews']
2,ECON 101,Introduction to Microeconomics,1393,264 comments,63%,70%,45%,['No reviews']
3,PSYCH 101,Introductory Psychology,1081,229 comments,73%,66%,78%,"[""Super fun, engaging prof and the exams are l..."
4,MATH 137,Calculus 1 for Honours Mathematics,1032,210 comments,84%,56%,68%,['The course itself is somewhat easy as a lot ...

We have 6 faculties in total. Health, Math, Arts, Engineering, Environment and Science. But how many unique course codes do we have?

In [18]:
codes = course_df['Course_Code'].copy()
codes = codes.apply(lambda x: x.split(" ")[0])
codes.nunique()

188

In [ ]:
Keys = ["Math", "Engineering,", "Science", "Health", "Environment", "Arts"]
eng = ["AE", "ARCH", "BME", "CHE", "CIVE", "CE" , "ECE", "ENVE", "GEOE", "GENE", "MSE", "ME", "MTE", "NE", "SE", "SYDE"]
math = ["AFM", "ACTSC", "AMATH", "CO", "COMM", "CS", "CFM", "ECON", "PHYS", "PMATH", "STAT"]
sci = ["AVIA", "BIOL", "CHEM", "COGSCI", "EARTH", "GERON"]
arts = ["ANTH", "APPLS", "ARABIC", "ARTS", "ARBUS", "BLKST", "BASE", "BET", "BUS", "CDNST", "CHINA", "CMW", "CLAS", "COMMST", "CROAT", "CI", "DAC", "DUTCH", "EASIA", "ENGL", "EMLS", "FINE", "FR",
        "GSJ", "GERMAN", ""]
env = ["ENVS", "ENBUS", "ERS", "GEOG"]
coop = ["COOP", ""]